/* for mobile view of screen widths (480px - 767px) */

@media all and (min-width: 480px) {

    body{
        width: 480px;
        margin: 5% auto;
    }

    header{
        background-color: #c5b6b6;
        color: #000;
        border-color: black;
    }

    aside{
        background-color: #c5c2b1;
        color: #000;
        border-color: black;
    }

    footer{
        background-color: #a0ada1;
        color: #000;
        border-color: black;
    }
}


/* for Desktop view of screen widths of 768px and more */

@media all and (min-width: 768px) {

    body{
        width: 960px;
        margin: 1% auto;
    }

    header{
        background-color: #85979e;
        color: #000;
        border-color: black;
    }

    aside{
        background-color: #a898b3;
        color: #000;
        border-color: black;
    }

    footer{
        background-color: #8b6e73;
        color: #000;
        border-color: black;
    }

}